body {
    margin: 0;
    background: 0;
}

@font-face {
    font-family: "Paneuropa Bankette";
    src: url("../assets/fonts/Paneuropa_Bankette.ttf");
}

@font-face {
    font-family: "Paneuropa Freeway";
    src: url("../assets/fonts/Paneuropa_Freeway.ttf");
}

@font-face {
    font-family: "Paneuropa Road";
    src: url("../assets/fonts/Paneuropa Road.ttf");
}

@font-face {
    font-family: "Chunk Five Print";
    src: url("../assets/fonts/Chunk Five Print.ttf");
}